
body{
    background-color:purple;

    }
      fieldset {
        margin: 0px 0px 0px 0px ;
        width: 600px;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        padding: 70px;
        text-align: left;
        background-color:white;}


        legend {

        background-color: black;
        color:white;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        padding: 10px 20px;
        text-align: left;
        text-transform: uppercase;}
button{
  height: 20px;
  width: 60px;
  margin-left: 400px;
}


.button{
  margin: 10px 240px -40px 250px ;
  background-color: green;
  color: white;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  float: left;
  
}

.for{
	margin: 60px 30px 0px 430px ;
	position:absolute;
}



input{
	
	width:0px;
	height:0px;
	border-radius:8px;
	
}
p{
	width:90%;
	
}
.data1{
	text-align:right;
	float:left;
	width:20%;
}
.data2{
	text-align:left;
	float:left;
	width:20%;
}